.line-graph-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  width: calc(100% - 40px); 
  height: calc(100vh - 40px); 
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-sizing: border-box; 
  position: relative; 
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.op-logo {
  width: 100px; 
  height: auto; 
  position: absolute;
  left: 20px; 
}

.header-content {
  flex: 1;
  text-align: center;
}


.line-graph-title {
  margin-top: 2px;
  text-align: center;
  color: rgba(228,48,45,255);
  margin-bottom: 20px;
  font-size: 2rem; 
  font-weight: 700; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); 
}

.view-selector {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 20px;
}

.view-selector label {
  font-size: 1.2rem; 
  color: #333;
  font-weight: 500; 
  margin-right: 10px; 
}

.view-selector select {
  padding: 8px 12px; 
  font-size: 1rem; 
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff; 
  cursor: pointer; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.view-selector select:focus {
  border-color: rgba(228,48,45,255); 
  outline: none; 
}

.line-graph {
  position: relative;
  height: calc(100% - 138px); 
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .line-graph-container {
    height: calc(100% - 50px); 
  }
}

@media (max-width: 1024px) {
  .line-graph-title {
    font-size: 1.5rem; 
  }

  .line-graph {
    height: calc(100% - 105px); 
  }
}
